<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head('Spring Blog | Edit Post')"></head>
<body>

<nav th:replace="partials/navbar :: navbar"></nav>

<h1>Edit Post</h1>

<form th:action="@{|/posts/edit/${post.id}|}" th:method="post" th:object="${post}">
  <input type="text" th:field="*{title}" th:placeholder="${post.title}" />
  <input th:field="*{body}" th:placeholder="${post.body}" />
  <button class="btn btn-success">Submit</button>
</form>

<h1>Delete Post</h1>

<form th:action="@{|/posts/delete/${post.id}|}" th:method="post">
  <button type="submit">Delete</button>
</form>

<footer th:replace="partials/footer :: footer"></footer>

</div>
</body>
</html>