<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head('Spring Blog | Create New User')"></head>
<body>

<nav th:replace="partials/navbar :: navbar"></nav>

<h1>Create An Account!</h1>

<form action="/user/create" method="post">
    <div class="container">
        <label for="email">Email</label>
        <input type="text" id= "email" placeholder="Enter Email" name="email" required>

        <label for="username">Username</label>
        <input type="text" id= "username" placeholder="Enter Username" name="username" required>

        <label for="password">Password</label>
        <input type="password" id="password" placeholder="Enter Password" name="password" required>
        <button type="submit">Create Account</button>
    </div>
</form>

<footer th:replace="partials/footer :: footer"></footer>
</body>
</html>