<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>Join</title>
</head>
<body>

<h1>Guess which number the dice will roll!</h1>

  <a class="btn btn-primary" href="/roll-dice/1">Guess 1</a>
  <a class="btn btn-primary" href="/roll-dice/2">Guess 2</a>
  <a class="btn btn-primary" href="/roll-dice/3">Guess 3</a>
  <a class="btn btn-primary" href="/roll-dice/4">Guess 4</a>
  <a class="btn btn-primary" href="/roll-dice/5">Guess 5</a>
  <a class="btn btn-primary" href="/roll-dice/6">Guess 6</a>

</body>
</html>